@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/utilities/sprites";
@import "compass/layout/sticky-footer";

@import "mysprites/*.png";
@include all-mysprites-sprites;

$header-link-color : #b37399;
$header-bg-image : "bg-image.png";

$all-headings : h1, h2, h3, h4, h5, h6;

$button-text-color : #FFF;