@import "config";

#wrapper {
	font-family: 'Source Sans Pro', sans-serif;
	#header {
		@include clearfix;
		width: 100%;
		text-align: center;
		background: image-url($header-bg-image);

		ul {
			@include clearfix;
			width: 470px;
			margin: 0 auto;

			li {
				float: left;

				a {
					display: block;
					color: $header-link-color;
					padding: 10px 25px;
					margin-right: 10px;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	#content {
		width: 960px;
		margin: 25px auto;
		text-align: center;
		
		#{$all-headings} {
			color: #669999;
			margin-top: 20px;
		}

		@for $i from 1 through 6 {
			h#{$i} {
				font-size: (6 - $i) * 15px;
			}
		}

		#buttonContainer {
			@include clearfix;
			text-align: center;
			margin-left: 310px;

			.button {
				padding: 20px 35px;
				float: left;
				margin-right: 10px;
				display: inline-block;
				color: $button-text-color;
				text-decoration: none;
				@include border-radius();
			}

			.pinkButton {
				@extend .button;
				background: #CC6699;
			}

			.greenButton {
				@extend .button;
				background: #669999;
			}

			.greyButton {
				@extend .button;
				background: #808C99;
			}
		}


		#spriteContainer{
			@include clearfix;
			margin-left: 280px;
			margin-top: 50px;

			div {
				width: 128px;
				height: 128px;
				float: left;
				margin-right:10px;
			}
		}
	}
}

#footer {
	font-family: 'Source Sans Pro', sans-serif;
	height: 30px;
	text-align: center;
}

@include sticky-footer(30px, "#wrapper", "#push", "#footer");